/* Custom styling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif !important;
}

.custom-hr {
  width: 95%;
  height: 3px;
  background-color: #26aadc;
  margin: 18px auto;
}

/* Style for truncating long file names */
.custom-link-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#custom-link {
  text-decoration: none;
}

.custom-link {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 1;
}

.custom-link i {
  flex-shrink: 0;
}

/* for fixed-top navbar */
body::before {
  display: block;
  content: "";
  height: 75px;
}

/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.2s ease;
  visibility: hidden;
  pointer-events: none;
}

#btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Dark mode button */
.btn-dark-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* grades cards hover effect */
.card-hover-effect {
  transition: all 0.3s ease-in-out;
}
.card-hover-effect:hover {
  background-color: #009bd6;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-hover-effect:hover .card-text,
.card-hover-effect:hover .card-title {
  color: #fff;
}

.card-hover-effect:hover .badge {
  background-color: #fff !important;
  color: #212529;
}

#adhkar {
  font-size: 1.1rem;
  position: fixed;
  top: 95px;
  right: 10px;
  color: #343a40;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#closeAdhkar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#Books-headingZero .accordion-button {
  background-color: #e5e5e5;
  color: #000;
}

/* hide info alert */
#infoAlert {
  transition: opacity 1s ease-out;
  opacity: 1;
}

#infoAlert.hideInfo {
  opacity: 0;
}

/* Custom width for class "min" */
/* For small screens (under 768px) */
@media (max-width: 767px) {
  .min {
    width: 50%;
  }
}

/* For medium screens (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .min {
    width: 25%;
  }
}

/* For large screens (greater than 1024px) */
@media (min-width: 1025px) {
  .min {
    width: 20%;
  }
}

/* Large modal for larg screens */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}
