/* Custom styling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif !important;
  transition: background-color 0.3s, color 0.3s;
}

.custom-hr {
  width: 95%;
  height: 3px;
  background-color: #26aadc;
  margin: 18px auto;
}

/* Link truncation */
.custom-link-container,
.custom-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  flex-shrink: 1;
}

.custom-link i {
  flex-shrink: 0;
}

#custom-link {
  text-decoration: none;
}

/* Navbar spacing for fixed-top */
body::before {
  content: "";
  display: block;
  height: 75px;
}

/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s, visibility 0.2s;
}

#btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Dark mode button */
.btn-dark-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Card hover effect */
.card-hover-effect {
  transition: all 0.3s;
}
.card-hover-effect:hover {
  background-color: #009bd6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.card-hover-effect:hover .card-text,
.card-hover-effect:hover .card-title {
  color: #fff;
}
.card-hover-effect:hover .badge {
  background-color: #fff !important;
  color: #212529;
}

/* Fixed Adhkar box */
#adhkar {
  font-size: 1.2rem;
  max-width: 90%;
  word-wrap: break-word;
  position: fixed;
  top: 95px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  color: #343a40;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  align-items: center;
  text-align: center;
}

#adhkarText {
  flex-grow: 1;
}

#closeAdhkar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Accordion styling */
#Books-headingZero .accordion-button {
  background-color: #e5e5e5;
  color: #000;
}

/* Alert fade-out */
#infoAlert {
  transition: opacity 1s;
  opacity: 1;
}

#infoAlert.hideInfo {
  opacity: 0;
}

/* Responsive width for class "min" */
.min {
  width: 50%;
}

@media (min-width: 768px) {
  .min {
    width: 25%;
  }
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

@media (min-width: 1025px) {
  .min {
    width: 20%;
  }
}

.section-full {
  height: calc(100vh - 70px);
  /* width: 100vw; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
