/* Custom styling */
body {
  font-family: "Cairo", sans-serif !important;
}

/* Style for truncating long file names */
.custom-link-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#custom-link {
  text-decoration: none;
}

.custom-link {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 1;
}

.custom-link i {
  flex-shrink: 0;
}

/* for fixed-top navbar */
body::before {
  display: block;
  content: "";
  height: 75px;
}

/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.2s ease;
  visibility: hidden;
  pointer-events: none;
}

#btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* grades cards hover effect */
.card-hover-effect {
  transition: all 0.3s ease-in-out;
}
.card-hover-effect:hover {
  background-color: #009bd6;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-hover-effect:hover .card-text,
.card-hover-effect:hover .card-title {
  color: #fff;
}

.card-hover-effect:hover .badge {
  background-color: #fff !important;
  color: #212529;
}

/* Custom width for class "min" */
/* For small screens (under 768px) */
@media (max-width: 767px) {
  .min {
    width: 50%;
  }
}

/* For medium screens (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .min {
    width: 25%;
  }
}

/* For large screens (greater than 1024px) */
@media (min-width: 1025px) {
  .min {
    width: 20%;
  }
}

/* Large modal for larg screens */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}
